.postform-container {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: url('https://img.freepik.com/free-vector/digital-global-connection-network-technology-background_1017-23324.jpg?t=st=1738228817~exp=1738232417~hmac=daa5628b2c487a9a244c85d16439547bc3233d31d29d2dd40cfda26f7ba983a1&w=1800');
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
.form-title:hover {
    color: goldenrod;
    cursor: pointer;
}
.post-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin-bottom: 6px;
}

input,
textarea,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #007bff;
}

/* Submit button styling */
.submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}
